@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<!--Contact Details-->
<h1>Contact Us:</h1>
<p>If you have any questions or inquiries feel freeto contact us using the information bellow...</p>

<h2>Email</h2>
<h6>You can reach us via email at: info@rza.com</h6>

<h2>Phone</h2>
<h6>Give us a ring at +44 1836484783</h6>


<h2>Social Media</h2>
<h6>Conect with us on our socials: <br/><a href="#">Facebook</a><br/><a href="#">Instagram</a><br/><a href="#">TikTok</a></h6>


<h2>Adress</h2>
<h6>Visit our location at:<br/><br/>Ridget Zoo Adventures<br/>364 Lion Lane<br/>Wilkashire, GK24S<br/></h6>
