@{
    ViewData["Title"] = "Legality";
}
<h1>@ViewData["Title"]</h1>

<h1>Legality:</h1>
<p>This page outlines the legal status of the assets utilized on our website</p>

<h2>Frontend Assets</h2>
<p></p>
<h2>Backend Assets</h2>