@{
    ViewData["Title"] = "Support";
}
<h1>@ViewData["Title"]</h1>

<h1>Support - Help & Infromation</h1>
<p>Welcome to the Support page, Find helpful resources and information bellow</p>

<h2>FAQs</h2>
<p>Visit our frqquently asked questions page to answer any common inquiries</p>

<h2>Contact Support</h2>
<p>For further assistance <a href="/Home/Contact">contact us</a> through our contact page.</p>

<h2>Community Forums</h2>
<p>Join our community! Forums for other users to share tips and advise. <br/> <a href="#">Visit Forums</a></p>