@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 class="inter header-large bold">@ViewData["Title"]</h1>
<div class="alert alert-success inter header-extra-small" role="alert">
    <i class="fas fa-check-circle"></i>Please check your email to reset your password
</div>

