@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg">
                <div class="card-body text-center">
                    <h2 class="card-title mb-4 inter header-medium-bold">@ViewData["Title"]</h2>
                    <p class="card-text inter body-base">Please check your email for further instructions on how to confirm your account.</p>
                    <p class="card-text inter other-small">We're excited to have you onboard.</p>
                    @if (Model.DisplayConfirmAccountLink)
                    {
                        <hr/>
                        <p class="card-text inter body-base">Debug: Click the button below to confirm your account.</p>
                        <a id="confirm-link" href="@Model.EmailConfirmationUrl" class="btn btn-primary btn-lg px-5 inter">Debug: Confirm Account</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

