@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />


<div class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="mt-5 inter header-medium bold">@ViewData["Title"]</h1>
        <p class="inter header-extra-small">Enter your email address.</p>
        <form method="post">
            @if (!ViewData.ModelState.IsValid)
            {
                <div asp-validation-summary="All" class="alert alert-danger inter subtitle-base bold pb-0" role="alert"></div>
            }
            <div class="mb-3">
                <input asp-for="Input.Email" id="inputEmail" class="form-control inter" aria-required="true" placeholder="name@example.com"/>
                <label asp-for="Input.Email" class="form-label inter">Email address</label>
                <span asp-validation-for="Input.Email" class="text-danger inter"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100 inter">Resend</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
